<!-- <form [formGroup]="searchForm">
  <input
    type="search"
    placeholder="search..."
    formControlName="searchCourse"
    name="q"
  />
</form> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- The form -->
<div class="searchbar">
  <form class="example" [formGroup]="searchForm">
    <input
      type="search"
      placeholder="Search.."
      formControlName="searchCourse"
      name="q"
    />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>

<div class="all-recipes-container">
  @for(course of filteredCourses; track course.courseId) {
  <app-coursecard
    [coursecard]="course"
    (delete_the_course)="deleteCourse($event)"
    [courseId]="course.courseId"
  />
  }
</div>
