body {
  margin: 0;
  // display: grid;
  display: flex;
  flex-direction: row;

  place-content: center;
}
.container {
  // margin: 0;
  width: 330px;
}
.headingAndRating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: center;
}
img {
  margin: 0;
  width: 350px;
  height: 180px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}
.wholecontainer {
  // display: grid;
  // grid-template-columns: 3fr 3fr 3fr 3fr;
  // gap: 3rem;
  height: 315px;
  width: 350px;
  transition: all 0.25s;
}
.wholecontainer:hover {
  transform: scale(1.02);
}
.rating {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.price {
  margin: 0;
  padding-left: 11px;

  font-size: 16px;
  font-weight: 700;
}
h6 {
  margin: 0;
  line-height: initial;
  padding-left: 11px;

  font-size: 16px;
  font-weight: bold;
}
.summary {
  opacity: 60%;
}
.summarydetails {
  display: flex;
  justify-content: space-between;
}
.description {
  justify-content: center;
  // padding: 10px;
  text-align: justify;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
  align-items: center;
}

.icon {
  font-size: 50px;
}
header {
  background-color: rgb(235, 225, 214);
  // position: fixed;
  // position: fixed;
  place-content: center;
  max-width: 100%;
}
.delete-button {
  padding-left: 10px;
}
.cat_des_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cat_des {
  display: flex;
  flex-direction: row;
}
.category {
  margin: 0px;
  vertical-align: middle;
}
p {
  margin: 0px;
  padding-left: 11px;
}
.buybutton {
  display: flex;
  justify-content: flex-end;
}
