<body>
  <mat-card class="wholecontainer">
    <div class="container">
      <img src="{{ coursecard.imageUrl }}" alt="Extraordinary" />
      <div class="headingAndRating">
        <h6>
          {{ coursecard.name }}
        </h6>
        <p class="rating">
          ⭐
          {{ coursecard.rating }}
        </p>
      </div>
      <p>By : {{ coursecard.instructor }}</p>
    </div>
    <!-- <p class="summary" style="display: none">{{ movies_data.summary }}</p> -->

    <!-- <button class="details" (click)="getrecipebyindex(idx)">details</button> -->
    <div class="priceAndBuyNow">
      <div class="priceAndCat">
        <div class="category">
          <p>Category :{{ coursecard.category }}</p>
        </div>
        <p class="price">
          {{ coursecard.price | currency : "INR" }}
        </p>
      </div>
    </div>
    <div class="InfoDelBuy">
      <div class="InfoDel">
        <button
          mat-icon-button
          class="details"
          routerLink="/allcourses/{{ courseId }}"
        >
          <mat-icon>info</mat-icon>
        </button>
        @if (tokenPresence) {
        <button
          mat-icon-button
          color="warn"
          class="delete"
          (click)="deleteCourse()"
        >
          <mat-icon>delete</mat-icon></button
        >}
      </div>
      <div class="buybutton">
        <button mat-raised-button>Buy Now!</button>
      </div>
    </div>
  </mat-card>
</body>
