<div class="topnav" id="myTopnav">
  <a routerLink="/" class="active">E-Learn</a>
  <a routerLink="/allcourses">All Courses</a>
  <div class="dropdown">
    <button class="dropbtn">
      Categories
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/categories/Business">Business</a>
      <a routerLink="/categories/Finance">Finance</a>
      <a routerLink="/categories/IT">IT & Software</a>
      <a routerLink="/categories/Office">Office Productivity</a>
      <a routerLink="/categories/Soft">Soft Skills</a>
      <a routerLink="/categories/Marketing">Marketing</a>
      <a routerLink="/categories/Lifestyle">Lifestyle</a>
      <a routerLink="/categories/Photography">Photography</a>
      <a routerLink="/categories/Design">Design</a>
      <a routerLink="/categories/Health">Health</a>
      <a routerLink="/categories/Music">Music</a>
      <a routerLink="/categories/Teaching">Teaching</a>
      <a routerLink="/categories/Development">Development</a>
    </div>
  </div>
  <a routerLink="/addcourse">Add Course</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<router-outlet></router-outlet>
