<!-- <app-allcourses></app-allcourses> -->

<div class="topnav" id="myTopnav">
  <a routerLink="/" class="active">E-Learn</a>
  <a routerLink="/allcourses">All Courses</a>
  <div class="dropdown">
    <button class="dropbtn">
      Categories
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/allcourses/Business">Business</a>
      <a href="">Finance & Accounting</a>
      <a href="">IT & Software</a>
      <a href="">Office Productivity</a>
      <a href="">Personal Development</a>
      <a href="">Design</a>
      <a href="">Marketing</a>
      <a href="">Lifestyle</a>
      <a href="">Photography & Video</a>
      <a href="">Health & Fitness</a>
      <a href="">Music</a>
      <a href="">Teaching & Academics</a>
      <a href="">Development</a>
    </div>
  </div>
  <a routerLink="/addcourse">Add Course</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<router-outlet></router-outlet>
