@if(isLoading){
<div class="loader"></div>
} @if(course){
<div class="parent">
  <mat-card class="movie-container">
    <img
      src="{{ course.imageUrl }}"
      alt="{{ course.name }}"
      class="movie-poster"
    />

    <mat-card-content>
      <div class="body">
        <div class="movie-spec">
          <h3 class="movie-title">
            {{ course.name }}
          </h3>
        </div>
        <div class="type">
          <p><i class="fa-solid fa-list"></i> By :{{ course.instructor }}</p>
          <p>
            <i class="fa-regular fa-clock" style="font-size: 20px"></i>
            {{ course.category }}
          </p>
        </div>
        <p>
          <i class="fa-solid fa-person-walking"></i>
          {{ course.bodyPartAffected }}
        </p>

        <p>
          <i class="fa-solid fa-star"></i>Prerequisites :
          {{ course.prerequisites }}
        </p>
        <br />

        <p>{{ course.description }}</p>
        <br />
        <p>
          <i
            class="fa-solid fa-triangle-exclamation"
            style="font-size: 20px; color: red"
          ></i>
          {{ course.cautionAge }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
}
