@if(isLoading){
<h1>Loading...</h1>
} @if(course){
<div class="course-container">
  <iframe
    width="677"
    height="391"
    src="https://www.youtube.com/embed/nu_pCVPKzTk"
    title="Full Stack Web Development for Beginners (Full Course on HTML, CSS, JavaScript, Node.js, MongoDB)"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <div class="movie-content">
    <div class="movie-spec">
      <h2 class="movie-title">
        {{ course.name }}
      </h2>
      <p class="movie-rating">⭐ {{ course.rating }}</p>
    </div>
    <p class="movie-summary">{{ course.instructor }}</p>
  </div>
</div>
}
