<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>
<main>
  <section class="hero">
    <h1>
      Make your learning <br />
      online more fun.
    </h1>
    <p class="description">
      Unlock your potential with our comprehensive and interactive online
      learning experience. At E-Learn, we are dedicated to providing
      high-quality education that is accessible, flexible, and tailored to your
      needs.
    </p>

    <div class="statistics">
      <div class="stat">
        <h2>3000+</h2>
        <p>Students</p>
      </div>
      <div class="stat">
        <h2>2500+</h2>
        <p>Courses</p>
      </div>
      <div class="stat">
        <h2>250+</h2>
        <p>Instructors</p>
      </div>
    </div>
    <div class="cta-buttons">
      <a routerLink="/allcourses" class="btn">Get Started</a>
      <!-- <a href="#" class="btn">Apply as Instructor</a> -->
    </div>
  </section>
  <section class="course-categories">
    <div class="category-card">
      <h3>Marketing</h3>
      <p>Learn the latest marketing strategies.</p>
    </div>
    <div class="category-card">
      <h3>Business</h3>
      <p>Enhance your business skills.</p>
    </div>
    <div class="category-card">
      <h3>Art</h3>
      <p>Explore your creativity with art courses.</p>
    </div>
  </section>
</main>
<footer>
  <p>© 2024 EduClub. All rights reserved.</p>
</footer>
