<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>
<main>
  <section class="hero">
    <h1>
      Make your learning <br />
      online more fun.
    </h1>
    <p class="description">
      Unlock your potential with our comprehensive and interactive online
      learning experience. At E-Learn, we are dedicated to providing
      high-quality education that is accessible, flexible, and tailored to your
      needs.
    </p>

    <div class="statistics">
      <div class="stat">
        <h2>3000+</h2>
        <p>Students</p>
      </div>
      <div class="stat">
        <h2>2500+</h2>
        <p>Courses</p>
      </div>
      <div class="stat">
        <h2>250+</h2>
        <p>Instructors</p>
      </div>
    </div>
    <div class="cta-buttons">
      <a routerLink="/allcourses" class="btn">Get Started</a>
      <!-- <a href="#" class="btn">Apply as Instructor</a> -->
    </div>
  </section>
  <section class="course-categories">
    <div class="category-card">
      <h3>Development</h3>
      <p>Explore the latest in software and web development.</p>
    </div>
    <div class="category-card">
      <h3>Business</h3>
      <p>Enhance your business skills.</p>
    </div>
    <div class="category-card">
      <h3>Finance & Accounting</h3>
      <p>Master financial management and accounting principles.</p>
    </div>
    <div class="category-card">
      <h3>IT & Software</h3>
      <p>Learn about IT infrastructure and software development.</p>
    </div>
    <div class="category-card">
      <h3>Office Productivity</h3>
      <p>Improve your efficiency with essential office tools.</p>
    </div>
    <div class="category-card">
      <h3>Personal Development</h3>
      <p>Develop skills for personal growth and self-improvement.</p>
    </div>
    <div class="category-card">
      <h3>Design</h3>
      <p>Unleash your creativity with design courses.</p>
    </div>
    <div class="category-card">
      <h3>Marketing</h3>
      <p>Learn the latest marketing strategies.</p>
    </div>
    <div class="category-card">
      <h3>Lifestyle</h3>
      <p>Explore courses to enrich your lifestyle.</p>
    </div>
    <div class="category-card">
      <h3>Photography & Video</h3>
      <p>Enhance your skills in photography and video production.</p>
    </div>
    <div class="category-card">
      <h3>Health & Fitness</h3>
      <p>Improve your well-being with health and fitness courses.</p>
    </div>
    <div class="category-card">
      <h3>Music</h3>
      <p>Explore music theory, instruments, and composition.</p>
    </div>
    <div class="category-card">
      <h3>Teaching & Academics</h3>
      <p>Advance your knowledge and teaching skills.</p>
    </div>
  </section>
</main>
<footer>
  <p>© 2024 E-Learn. All rights reserved.</p>
</footer>
